<h1>Thêm khóa học</h1>
<form action="" method="post">
  <div class="mb-3">
    <label for=""> Tên </label>
    <input
      type="text"
      name="name"
      class="form-control"
      placeholder="Tên..."
      value="<%= req.old.name %>"
    />
    <span class="text-danger"><%= req.errors.name %></span>
  </div>
  <div class="mb-3">
    <label for=""> Giá </label>
    <input
      type="number"
      name="price"
      class="form-control"
      placeholder="Giá..."
      value="<%= req.old.price %>"
    />
    <span class="text-danger"><%= req.errors.price %></span>
  </div>
  <div class="mb-3">
    <label for=""> Trạng thái </label>
    <select name="status" class="form-select">
      <option value="inactive" <%= req.old.status === 'inactive' ? 'selected': '' %>>Chưa kích hoạt</option>
      <option value="active" <%= req.old.status === 'active' ? 'selected': '' %>>Kích hoạt</option>
    </select>
  </div>
  <button type="submit" class="btn btn-success">Lưu</button>
  <a href="/" class="btn btn-danger">Hủy</a>
</form>
